[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "android"]
	path = android
	url = git@github.com:GengineJS/Eagle-Android.git
[submodule "xcode"]
	path = xcode
	url = git@github.com:GengineJS/Eagle-Xcode.git
